# VSCode / IDE settings
.vscode/
.idea/
*.iml
.history/

# Flutter / Dart build artifacts
build/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
pubspec.lock
mobile/linux/flutter/generated_plugin_registrant.cc
mobile/linux/flutter/generated_plugins.cmake
mobile/windows/flutter/generated_plugin_registrant.cc
mobile/windows/flutter/generated_plugins.cmake
**/flutter/generated_plugin_registrant.*

# Android build
**/android/.gradle/
**/android/app/build/
**/android/local.properties

# iOS / macOS build
**/ios/Pods/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Flutter.framework
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Node (frontend)
node_modules/
dist/
.next/
out/

# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
venv/

# Secrets
*.env
google-services.json
GoogleService-Info.plist
firebase_options.dart
